.login-container {
    max-width: 700px;
    background-color: rgb(23, 71, 165);
}

p {
    font-family: Lato;
  }
  
  #root {
    padding: 30px;
  }
  
  .register-form {
    max-width: 750px;
    margin: auto;
  }
  